In [69]:
import pandas as pd
df_raw = pd.read_csv("/content/NBA_season1718_salary.csv")
df_raw.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [70]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   573 non-null    int64
 1   Player       573 non-null    object
 2   Tm           573 non-null    object
 3   season17_18  573 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 18.0+ KB

Agrupo por equipos, para conseguir la suma total de los salarios y cual fu√© el mayor

In [71]:
df_semi_raw = df_raw.groupby("Tm").agg({"season17_18":["sum","max"]})
df_semi_raw = df_semi_raw.reset_index()
df_semi_raw

     Tm  season17_18
                 sum         max
0   ATL  100217797.0  16910113.0
1   BOS  115009962.0  29727900.0
2   BRK   96039772.0  19332500.0
3   CHI   89425042.0  15550000.0
4   CHO  117228164.0  23500000.0
5   CLE  137288549.0  33285709.0
6   DAL   85821361.0  23112004.0
7   DEN  107889099.0  31269231.0
8   DET  120086105.0  29512900.0
9   GSW  137494845.0  34682550.0
10  HOU  119024081.0  28299399.0
11  IND   94429791.0  21000000.0
12  LAC  118907163.0  22642350.0
13  LAL  105355450.0  22642350.0
14  MEM  110104061.0  28530608.0
15  MIA  131222624.0  25289390.0
16  MIL  120686318.0  22471910.0
17  MIN  117468554.0  19301070.0
18  NOP  119725571.0  25686667.0
19  NYK  107855405.0  20566802.0
20  OKC  134294056.0  28530608.0
21  ORL   96925954.0  17000000.0
22  PHI  100794278.0  23000000.0
23  PHO   94818333.0  17884176.0
24  POR  119108924.0  26153057.0
25  SAC   95627528.0  12307692.0
26  SAS  116153554.0  21461010.0
27  TOR  116528796.0  28703704.0
28  UTA  107465014.0  21974719.0
29  WAS  124179842.0  24773250.0

Cambio el nombre de las columnas y agrego otra que indica el porcentaje del salario m√°s caro contra el total del equipo (Cuanto se lleva el mejor pago respecto del total del equipo)

In [72]:
df_semi_raw.columns = ["team","tot_paid","highest"]
df_semi_raw['porcentaje_h/tp'] = (( df_semi_raw["highest"]* 100) /df_semi_raw["tot_paid"])
#df_semi_raw.reset_index()

In [73]:
df_semi_raw

   team     tot_paid     highest  porcentaje_h/tp
0   ATL  100217797.0  16910113.0        16.873363
1   BOS  115009962.0  29727900.0        25.848109
2   BRK   96039772.0  19332500.0        20.129681
3   CHI   89425042.0  15550000.0        17.388865
4   CHO  117228164.0  23500000.0        20.046377
5   CLE  137288549.0  33285709.0        24.245073
6   DAL   85821361.0  23112004.0        26.930363
7   DEN  107889099.0  31269231.0        28.982753
8   DET  120086105.0  29512900.0        24.576449
9   GSW  137494845.0  34682550.0        25.224618
10  HOU  119024081.0  28299399.0        23.776196
11  IND   94429791.0  21000000.0        22.238745
12  LAC  118907163.0  22642350.0        19.042040
13  LAL  105355450.0  22642350.0        21.491389
14  MEM  110104061.0  28530608.0        25.912403
15  MIA  131222624.0  25289390.0        19.272126
16  MIL  120686318.0  22471910.0        18.620097
17  MIN  117468554.0  19301070.0        16.430840
18  NOP  119725571.0  25686667.0        21.454621
19  NYK  107855405.0  20566802.0        19.068865
20  OKC  134294056.0  28530608.0        21.244878
21  ORL   96925954.0  17000000.0        17.539162
22  PHI  100794278.0  23000000.0        22.818756
23  PHO   94818333.0  17884176.0        18.861517
24  POR  119108924.0  26153057.0        21.957261
25  SAC   95627528.0  12307692.0        12.870449
26  SAS  116153554.0  21461010.0        18.476413
27  TOR  116528796.0  28703704.0        24.632284
28  UTA  107465014.0  21974719.0        20.448254
29  WAS  124179842.0  24773250.0        19.949494

Obtengo el equipo que m√°s dinero gast√≥ en salarios y cuanto gan√≥ el mejor pago de la NBA en 2017 - 2018

In [74]:
highest_paid_player = df_semi_raw["highest"].max() #Jugador m√°s pago de toda la NBA 2017 - 2018
richest_team = df_semi_raw["tot_paid"].max()

In [75]:
import plotly.express as px
visual = px.scatter(df_semi_raw, x = "team", y = "tot_paid")
visual

In [76]:
print("Salario m√°s alto de toda la NBA 2017-2018 = ${} millones".format(highest_paid_player))
print("Total m√°s alto del equipo que m√°s gast√≥ en la NBA 2017-2018 = ${} millones".format(richest_team))

Salario m√°s alto de toda la NBA 2017-2018 = $34682550.0 millones
Total m√°s alto del equipo que m√°s gast√≥ en la NBA 2017-2018 = $137494845.0 millones